.form-signin-heading {
	margin-top: 0px;
}

.panel {
	margin-top: 40px;

}

body {
	
	background-image: url('../assets/pattern.png');
    background-repeat: repeat;

}

.titulo {
	color:white;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0px 3px black;
	letter-spacing: 4px;
	font-size:50px;
	text-align: center;
	margin-top: 50px;
}

.form-control {
	margin:20px 0px;
}