
html, body {
	height: 100%;
}
.navbar {
	border-radius: 0px;
	border-color: #004d99;
	background-color: #004d99;	
	margin:0px;
}

.nav-button {
	color:white !important;
}

.page-header-custom {
	border-bottom: 1px solid #b3b3b3;
	background-color: #f2f2f2;
	
	margin-bottom:20px;
	box-shadow: 0px 3px 5px #b3b3b3;
}

.main-content-wrapper {
	width: 100%;
	min-height: 80%;
}

.panel-wrapper {
	padding: 5px !important;
}
.panel-heading-custom {
	background-color: #2D2D2D !important;
	color: white !important;
	text-align: center;
	font-weight: bold;

}

.navbar-brand {
	color:white;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0px 4px black;
	letter-spacing: 4px;
	font-size:25px;
}
.navbar-brand:hover {
	color:#b3b3b3;
}
.nav-button {
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: 0px 1px 1px black;
}
.nav-button:hover {
	background-color: #004d99 !important;
	text-shadow: 0px 3px 3px black;
}

#project-title {
	text-shadow: 0px 2px 2px white;
	margin-top:10px;
	padding-bottom:1px;
	font-weight: bold;	

}

.task-wrapper {
	min-height: 50px;
	border-bottom: 1px solid #b3b3b3;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
	
	
}
.panel-body {
	margin: 0px;
	padding: 0px;
	min-height: 50px;
	background-color: #f2f2f2;
}

#logout:hover {
	cursor:pointer;
}



.footer {
	border-top: 7px solid #004d99;	
	color: #fff;
	background: #333;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0px 1px 1px black;
	text-align: center;
	min-height:50px;

}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}
.modal-header {
	min-height: 80px;
	height: 100%;
}
.modal-footer {
	background-color: #f9f9f9;
}

#user-info p{
	font-size: 12px;
	padding-top:5px;
}



